LogicApp-Recurring.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "API": {
                "inputs": {
                    "body": {
                        "ticker": "eurusd"
                    },
                    "host": {
                        "triggerName": "request",
                        "workflow": {
                            "id": "/subscriptions/asdfuiop-asdf-asdf-asdf-qwertyuiop09/resourceGroups/Bloomberg/providers/Microsoft.Logic/workflows/API"
                        }
                    }
                },
                "runAfter": {},
                "type": "Workflow"
            },
            "Condition": {
                "actions": {
                    "Compose": {
                        "inputs": "The price was @{body('Parse_JSON')?['last']} @ @{body('ConvertTimestamp')} after opening at @{body('Parse_JSON')?['open']}.",
                        "runAfter": {},
                        "type": "Compose"
                    }
                },
                "else": {
                    "actions": {
                        "Compose_2": {
                            "inputs": "Price @ @{body('ConvertTimestamp')} = @{body('Parse_JSON')?['last']}.",
                            "runAfter": {},
                            "type": "Compose"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "less": [
                                "@body('Parse_JSON')?['last']",
                                "@body('Parse_JSON')?['open']"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "ConvertTimestamp": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "ConvertTimestamp": {
                "inputs": {
                    "body": {
                        "timestamp": "@body('Parse_JSON')?['timestamp']"
                    },
                    "function": {
                        "id": "/subscriptions/asdfuiop-asdf-asdf-asdf-qwertyuiop09/resourceGroups/Bloomberg/providers/Microsoft.Web/sites/bloomberg-mannie-demoprep/functions/ConvertTimestamp"
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Function"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('API')",
                    "schema": {
                        "properties": {
                            "last": {
                                "type": "number"
                            },
                            "open": {
                                "type": "number"
                            },
                            "timestamp": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "API": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Second",
                    "interval": 5
                },
                "type": "Recurrence"
            }
        }
    }
}